@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  
--color-1-rgba : rgba(94, 74, 165, 1); 
--color-2-rgba : rgba(59, 50, 114, 1); 
--color-3-rgba : rgba(24, 41, 63, 1); 
--color-4-rgba : rgba(22, 85, 140, 1); 
--color-5-rgba : rgba(242, 237, 215, 1); 


--dark-red-1-hex : #00000D; 
--dark-red-2-hex : #00004D; 
--dark-red-3-hex : #0f0707; 
--dark-red-4-hex : #000096; 
--dark-red-5-hex : #0000ED; 


}

body {
  background: linear-gradient(to bottom right  , var(--dark-red-2-hex) , var(--dark-red-3-hex)) ;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color:var(--color-5-rgba)
}
